
<div class="card-container">
    <span [style.marginBottom]="card.attachmentCount == 0 ? '15px' : ''" class="task-name">
      {{card.taskName}}
    </span>
    <span *ngIf="card.attachmentCount != 0"  class="attach"><img src="../../assets/images/attach.svg" width="11" alt="" srcset=""> {{card.attachmentCount}}</span>
    <div *ngIf="card.imageUrl != null || card.description != null" class="content-container">
      <div *ngIf="card.description != null"  class="desc">
        {{card.description}}
      </div>
      <div *ngIf="card.imageUrl != null" class="image"  >
        <img [style.maxWidth]='card.description != null ? "117px":""' [ngClass]='card.description != null ? "round-img":""' [src]="card.imageUrl" alt="" srcset="">
      </div>
    </div>
    <div *ngIf="card.videoUrl != null" class="video">
      <img (click)='playVid($event)' src="../../assets/images/play.svg" id="play-btn" alt="" srcset="">
      <video  [style.maxWidth]=' "240px"'  class="video-js vjs-default-skin vjs-big-play-centered" preload="auto">
          <source [src]="card.videoUrl" type="video/mp4">
      </video>
    </div>
    <div *ngIf="card.followers.length != 0" class="footer">
      <div class="follower">
        <div *ngIf="card.followers.length != 0" class="add-follower">
          +
        </div>
          <img *ngFor="let followerURl of card.followers  | slice:0:4;index as i; " [src]="followerURl" class="follower-img" [style.left]='getLeftPosition(i)' [style.zIndex]='i' width="18px" height="18px" alt="" srcset="">
          <div class="showMore-followers" (click)="card.hideme = !card.hideme" [style.left]='getLeftPosition(5)' *ngIf="card.followers.length > 4" >
            +{{card.followers.length - 4}}
          </div>
          <div *ngIf="card.hideme"  class="follower-img" [style.left]='getLeftPosition(5)'>
            <img *ngFor="let followerURl of card.followers  | slice:4;index as i; " [src]="followerURl" class="follower-img" [style.top]='getLeftPosition(i)' [style.zIndex]='i' width="18px" height="18px" alt="" srcset="">
          </div>
      </div>
      <div class="state">
        <div class="state-one"></div>
        <div class="state-two"></div>
        <div class="state-three"></div>
      </div>
    </div>
</div>
