.card-container{
  border: 2px solid #e8e8e8;
  border-radius: 6px;
  margin: 13px 28px 0px 28px;
  padding: 18px 0px 0px 0px;
}
.task-name{
  font-size: 12px;
  display: block;
  margin: 0px 11px 0px 11px;
}
.attach{
  font-size: 12px;
  color: #a9a9a9;
  margin: 0px 11px 0px 11px;
}

.content-container{
  display: flex;
  flex-basis: auto; /* default value */
  flex-grow: 1;
  margin: 20px 11px 0px 11px;
}
.desc{
  font-size: 9px;
  line-height: 1.86;
}
.round-img{
  border-radius: 8px;
}
.video{
  position: relative;
  width: 240px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  margin: 8px 11px 0px 11px;
}

#play-btn{
  position: absolute;
  left:43%;
  top:40%;
  z-index: 10;
  cursor: pointer;
}
.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 14px 11px 16px 11px;
}
.follower{
  align-self: flex-start;
  display: flex;
  position: relative;
  flex-basis: 60%;
}
.follower-img{
  position: absolute;
  top: 19%;
  border-radius: 50%;
}
.add-follower{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f9f8fc;
  color:#a9a9a9;
  width: 18px;
  height: 18px;
  margin-top: 4px;
}

.showMore-followers{
  cursor: pointer;
  position: absolute;
  top: 19%;
  z-index: 5;
  font-size: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f5a623;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
}
.state{
  align-self: flex-end;
  display: flex;
  flex-direction: row;

}
.state-one{
  width: 25px;
  height: 2px;
  background-color: #7148fc;
  margin-right: 2px;
  border-radius: 1px;
}
.state-two{
  width: 25px;
  height: 2px;
  background-color: #7148fc;
  opacity: 0.59;
  margin-right: 2px;
  border-radius: 1px;
}
.state-three{
  width: 25px;
  height: 2px;
  background-color: #7148fc;
  opacity: 0.25;
  border-radius: 1px;

}
