.nav-container{
  height: 116px;
  background-color: #ffffff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
  &__board{
    color: #999999;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 5%;
  }
  &__title{
    color: #7148fc;
    font-size: 27px;
    font-weight: 700;
    position: absolute;
    left: 47.8%;
  }
  &__dropdown{
    display: flex;
    align-items: center;
    color: #999999;
    position: absolute;
    right: 5%;
    cursor: pointer;
    &__greeting{
      font-size: 18px;
      color: black;
      margin-right: 5px;
      &__hi{
        margin-left: 5px;
        font-weight: 700;
        font-size: 18px;
        font-style: italic;
        color: #834bc4;
      }
    }
  }
}

.dropdown-toggle::after {
  display: none;
}
.nav-link{
  display: inline-flex;
  align-items: center;
}
.search-input{
  display: inline-flex;
  align-items: center;
  border: none;
  width: 100px;
  margin-left: 9px;
}

.avatar{
  width: 38px;
  height: 38px;
  border-radius: 10px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999999;
  font-style: italic;
}

*:focus {
  outline: none;
}

@media only screen and (max-width: 800px) {
  .nav-container__title{
    left: 24%;
  }
}

@media only screen and (max-width: 525px) {
  .search-box{
    display: none;
  }
  .nav-container__title{
    left: 30%;
  }
}
