<nav >
  <div class='nav-container'>
    <div class='nav-container__board'>
      <img src="../../assets/images/rectangle.svg" alt="" srcset="">
      Boards
    </div>
    <div class='nav-container__title center'>
        Nello.
    </div>
    <div class='nav-container__dropdown'>
      <div class="search-box">
        <img src="../../assets/images/search.svg" width="23" height="23" alt="" srcset="">
        <input type="text" class="search-input" placeholder="Search...">
      </div>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../../assets/images/avatar.png" class="avatar" alt="" srcset="">
        <div class="nav-container__dropdown__greeting"><span class="nav-container__dropdown__greeting__hi">Hi,</span> <span>{{user.name}}</span></div>
        <img src="../../assets/images/dropdown.svg" alt="" srcset="">
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Setting</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
  </div>
</nav>
