<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-navbar></app-navbar>
  <app-board-selector></app-board-selector>
</div>
<app-board></app-board>
<router-outlet></router-outlet>
