.fab-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #7148fc;
  border: none;
  cursor: pointer;
}

.fab-container{
  position: fixed;
  bottom: 64px;
  left: 54px;
  z-index: 20;
}
.fab-btn:active{
  background-color: #6336f8;
}
