<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <div class="dropdown-content">
      <img class="dropdown-logo" src="../../assets/images/logo.PNG" width="52" height="52">
      <div class="dropdown-text-container">
          <span id='team-name'>Nasaq Team</span>
          <img src="../../assets/images/dropdown.svg" alt="" srcset="">
          <span class='sub-header'>UX/UI Board</span>
      </div>
  </div>
  </button>
  <ul class="dropdown-menu">
      <li class="dropdown-header">private boards:</li>
      <li class="pointer text-center">
              <span class='sub-header'>UX/UI Board</span>
      </li>
      <li class="dropdown-header">Shared boards:</li>
      <li class="pointer text-center">
          <span class='sub-header'>Engineering boards</span>
      </li>
    </ul>
