.dropdown-toggle, .dropdown-menu
 {
   width: 284px;
  border-radius: 10px;
 }
.dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }
.btn{
  padding:17px 0 17px 0 ;
}
.dropdown-toggle::after {
  display: none;
}
.btn-default{
  background-color: #f0f0f0;
}
#team-name{
margin-right: 10px;
}
.dropdown-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-text-container{
  text-align: start;
  margin-left: 14px;
}
.sub-header{
  font-size: 15px;
  color: #bababa;
  display: block;
}
.dropdown-logo{
  display: inline;
}
*:focus {
  outline: none;
}

