.list-container{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 320px;
  max-width: 320px;
  flex-basis: auto; /* default value */
  flex-grow: 1;
  margin: 40px 1em 19px 1em;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 13px;
}
.title{
  margin-top: 44px;
  margin-bottom: 36px;
  margin-left: 1em;
}
.title-text{
  display: inline-block;
  vertical-align: text-top;
  font-size: 18px;
  font-weight: 700;
}
.oval{
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 1.5px solid;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.add-card-btn{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #d7d6d6;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin: 0px 1em 0px 1em;
  min-width: 320px;
  max-width: 350px;
  flex-basis: auto; /* default value */
  flex-grow: 1;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.add-card-btn:active{
  background-color: #e6e6e6;
}
.cards-holder{
  position: relative;
}
.cards-empty-state{
  position: absolute;
  left: 25%;
  top: -50%;
  color: #dfdfdf;
}
.cards-container-empty-state{
  width: 100%;
  height: 30px;
}
