<div class="list-container">
  <div class="title">
    <div [style.borderColor]="list.color" class="oval">
    </div>
    <div [style.color]="list.color" class="title-text">
       {{list.name}}
    </div>
  </div>
  <div class="cards-holder">
    <p class="cards-empty-state" *ngIf="list.cards.length == 0">there is no cards yet.</p>
    <div [dragula]='"cards"' [ngClass]="list.cards.length == 0 ? 'cards-container-empty-state': ''"  [(dragulaModel)]='list.cards'>
      <div *ngFor="let card of list.cards" >
        <app-card [card]="card"></app-card>
      </div>
    </div>
  </div>
</div>
<div class="add-card-btn">
  add card
</div>
