/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";


// use Roboto as the main font
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,700,700i,900');
* {
  font-family: 'Roboto', sans-serif;
}

// coloring the body
body{
  background-color: #f5f7fa;
  overflow-x: hidden;
}

// to align items.
.flex-start { align-self: flex-start; }
.flex-end { align-self: flex-end; }
.center { align-self: center; }

.pointer{
  cursor: pointer;
}


/////////////////////////
// dragula css
/////////////////////////
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

